/*#region _*/

/*#endregion*/

/*#region INITIAL PROPS*/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');
html{
    scroll-behavior: smooth;
}
:root{
    --primary: #200E3A;
    --onprimary: #2f76a9;
    --secondary: #38419D;
    --onsecondary: #58e0e4;
}
button{
    font-family: inconsolata, sans-serif;
    height: 50px;
    background-color: var(--primary);
    border: 1px solid var(--onprimary);
    border-radius: 10px;
    color: white;
    font-size: 24px;
    transition: all .2s;
    box-shadow: 0px 0px 2px var(--onsecondary);
}
button:hover{
    box-shadow: 0px 0px 20px var(--onsecondary);
    background-color: var(--secondary);
}
body{
    margin: 0;
    padding: 0;
    font-family: Inconsolata, sans-serif;
    font-weight: 900;
    background: linear-gradient(-15deg, var(--secondary), var(--primary)) no-repeat fixed;
    color: var(--onsecondary)
}
/*#endregion*/

/*#region PRELOADER*/
.preloader{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color: var(--primary);
    text-align: center;
    display: grid;
    place-content: center;
    transition: all .65s;
    z-index: 99;
}
.line{
    position: absolute;
    width: 6px;
    height: 60px;
    background: var(--onsecondary);
    top: calc(50vh - 30px);
    box-shadow: 0px 0px 0px var(--onsecondary);
    animation: lineStretch infinite 0.8s;
    border-radius: 10px;
}
#line1{left: calc(50% - 40px);animation-delay: 0; }
#line2{left: calc(50% - 30px);animation-delay: 0.05s; }
#line3{left: calc(50% - 20px);animation-delay: 0.1s; }
#line4{left: calc(50% - 10px);animation-delay: 0.15s; }
#line5{left: calc(50%);animation-delay: 0.2s; }
#line6{left: calc(50% + 10px);animation-delay: 0.25s; }
#line7{left: calc(50% + 20px);animation-delay: 0.3s; }
#line8{left: calc(50% + 30px);animation-delay: 0.35s; }
.preloader h1{
    font-size: 22px;
    text-align: center;
    margin-top: 220px;
    margin-left:0px;
}
/*#endregion*/

/*#region NAVBAR*/
nav{
    border-radius: 30px;
    border: 1px solid var(--onsecondary);
    width: 70%;
    top:2%;
    left: 15%;
    position: fixed;
    font-size: 20px;
    padding: 14px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    justify-items: center;
    gap: 30px;
    -webkit-backdrop-filter: blur(4px) brightness(60%);
    backdrop-filter: blur(4px) brightness(60%);
    z-index: 2;
    height: 25px;
}
nav a{
    text-decoration: none;
    color: var(--onsecondary);
    padding-bottom: 4px;
    text-align: center;
    background: linear-gradient(90deg, var(--secondary), var(--secondary));
    background-size: 0% 5%;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    transition: all .2s;
    cursor: pointer;
}
nav a:hover{
    color: white;
    background-size: 80% 5%;
}
#mobile-nav{display: none;}
#mobile-menu-icon{display: none;}
/*#endregion*/

/*#region EMAIL MESSAGE*/
.email-sent{
    top:0;
    left:0;
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 100vh;
    transition: all .3s;
    display: none;
}
.email-sent-bg{
    z-index: 100;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: black;
    opacity: 0.8;
}
.email-sent-box{
    z-index: 101;
    position: fixed;
    top: calc(50% - 200px);
    left: calc(50% - 350px);
    border: 1px solid var(--onsecondary);
    border-radius: 20px;
    background-color: var(--primary);
    opacity: 1;
    width: 700px;
    height: 400px;
}
.email-sent-close{
    margin: 20px;
    font-size: 50px;
    text-align: right;
}
.email-sent-close button{
    width: 50px;
    height: 50px;
}
.email-sent-text{
    display: grid;
    text-align: center;
    margin: 20px;
}
.email-sent-text span{
    border: 1px solid var(--onsecondary);
    margin: auto;
    font-size: 70px;
    padding: 8px 20px;
    border-radius: 50px;
}
.email-sent-text h1{font-size: 40px;margin-top:40px}
.email-sent-text p{font-size: 20px;margin-top: 0;}
/*#endregion*/

/*#region LANDING PAGE*/
.landing-page{
    height: calc(95vh - 100px);
    display: grid;
    margin: 0 auto;
    margin-top: 100px;
    width: 80%;
    gap: 40px;
    grid-template-columns: 3fr 2fr;
    max-width: 1200px;
}
.landing-page-info{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.landing-page-info h1{
    font-size: 10vh;
    margin-top: 0;
}
.landing-page-info p{
    font-size: 3vh;
    padding-bottom: 6vh;
}
.landing-page button{
    width: 50%;
}
.landing-page-logo{
    display: grid;
    place-content: center;
}
.cube-container{
    margin-bottom: 5vh;
    box-shadow: 0px 0 140px var(--onsecondary);
}
.cube{
    margin: auto;
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transform: rotate3d(1, 1, 0, 45deg);
    animation: turn 10s ease-in-out infinite;
}
.cube:hover{
    animation-play-state: paused;
}
.face{
    border-radius: 2px;
    width: 200px;
    height: 200px;
    background: var(--primary);
    border: 2px solid var(--onsecondary);
    position: absolute;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inconsolata;
    font-size: 28px;
    color: var(--onsecondary);
    text-align: center;
}
.front{transform: translateZ(100px);}
.back {transform: translateZ(-100px) rotateY(180deg);}
.left{transform: translateX(-100px) rotateY(-90deg);}
.right{transform: translateX(100px) rotateY(90deg);}
.top{transform: translateY(-100px) rotateX(90deg);}
.bottom {transform: translateY(100px) rotateX(-90deg);}
/*#endregion*/

/*#region MAIN GRID*/
.maingrid{
    width: 95%;
    max-width: 1500px;
    margin: auto;
    margin-top: 5vh;
    height: 400vh;
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 10px;
}
.linia{
    background: linear-gradient(var(--onsecondary), var(--onsecondary));
    background-repeat: no-repeat;
    background-size: 1px 75%;
    background-position: 15px 0;
    display: grid;
}
.dot{
    height: 30px;
    width: 30px;
    background-color: var(--primary);
    border-radius: 15px;
    box-shadow: 0px 0px 15px var(--onsecondary);
}
.content{
    display: grid;
}
.content-container{
    height: calc(90vh - 100px);
    scroll-margin: 100px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
    
}
.title h1{
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}
.title p{font-size: 20px;}
.content-container-single{
    background-color: var(--primary);
    border: 1px solid var(--onsecondary);
    border-radius: 20px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}
.content-container-single h2{
    font-size: 32px;
    margin: 0; margin-bottom: 20px; margin-left: 20px;
}
.content-buttons{
    display: flex;
    justify-content: space-between;
}
.content-buttons button{width: 150px;}
.content-slider{
    height: 100%;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow: hidden;
}
/*#endregion*/

/*#region PROJEKTY*/
.projekt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 8px;
    flex: 0 0 auto;
    width: 100%;
    scroll-snap-align: center;
    transition: all .2s;
    display: flex;
    justify-content: space-around;
}
.projekt-container{
    height: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: 5fr 4fr;
}
.projekt-photo{
    padding: 10px;
    display: grid;
    place-content: center;
}
.projekt-photo img{
    max-width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 4px solid black;
}
.projekt-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.projekt-desc p{
    font-size: 18px;
}
.projekt-desc button{
    width: 70%;
}
/*#endregion*/

/*#region SZABLONY*/
.szablon{
    padding-bottom: 8px;
    flex: 0 0 auto;
    width: 100%;
    scroll-snap-align: center;
    transition: all .2s;
    display: grid;
    grid-template-columns: 2fr 1fr;
    place-items: center;
    gap: 30px;
}
.szablon p{
    font-size: 24px;
}
.szablon button{
    width: 160px;
}
.szablon-img{
    display: grid;
    place-content: center;
}
.szablon-img img{
    border: 5px solid black;
    border-radius: 20px;
    max-width: 100%;
}
/*#endregion*/

/*#region KONTAKT*/
#container-kontakt{
    display: grid;
    grid-template-columns: 3fr 4fr;
}
.kontakt-info{
    margin: auto 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 230px;
}
.kontakt-info-div{
    width: 96%;
    display: flex;
    justify-content: space-between;
}
.kontakt-info h1{
    text-align: center;
}
.kontakt-info-div p{
    font-size: 20px;
}
.kontakt-info-div img{
    margin: auto 0;
    height: 7vh;
}
#kontakt form{
    margin: 10px 2px;
    display: grid;
    gap: 10px;
}
#kontakt form h1{
    margin: 0;
}
#kontakt form input{
    background-color: transparent;
    -webkit-backdrop-filter: brightness(0.6);
    backdrop-filter: brightness(0.6);
    border: 1px solid var(--onsecondary);
    color: var(--onsecondary);
    border-radius: 10px;
    font-family: inconsolata;
    font-size: 20px;
}
textarea{
    border-radius: 10px;
    resize: none;
    -webkit-backdrop-filter: brightness(0.6);
    backdrop-filter: brightness(0.6);
    height: 15vh;
    border: 1px solid var(--onsecondary);
    color: var(--onsecondary);
    background-color: transparent;
    font-family: inconsolata;
    font-size: 20px;
}
#submit{
    cursor: pointer;
    text-align: center;
    font-family: inconsolata;
    height: 50px;
    background-color: var(--primary);
    border: 1px solid var(--onprimary);
    border-radius: 10px;
    color: white;
    font-size: 22px;
    transition: all .2s;
    box-shadow: 0px 0px 2px var(--onsecondary);
    backdrop-filter: brightness(1);
}
#submit:hover{
    box-shadow: 0px 0px 20px var(--onsecondary);
    background-color: var(--secondary);
}
/*#endregion*/

/*#region O MNIE*/
#content-omnie{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#content-omnie p{
    margin: auto;
    font-size: 20px;
}
#content-omnie div{
    display: grid;
    place-items: center;
}
#content-omnie img{
    height: 350px;
    border-radius: 175px;
    border: 1px solid var(--secondary);
    box-shadow: 0px 0px 20px var(--onsecondary);
}
/*#endregion*/

/*#region FOOTER*/
footer{
    padding: 2px;
    text-align: center;
}
footer p{
    margin: 0;
    padding-bottom: 8px;
}
.footer-buttons{
    display: flex;
    justify-content: space-between;
    width: 25%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.footer-buttons img{
    border-radius: 50%;
    height: 60px;
    transition: all .2s;
    box-shadow: 0px 0px 15px var(--onsecondary);
}
.footer-buttons img:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 30px var(--onsecondary);
}
/*#endregion*/

/*#region MOBILE - VERTICAL*/
@media only screen and (max-width: 992px) {
    button{
        font-size: 16px;
        height: 36px;
    }


    /*NAVBAR*/
    #mobile-menu-icon{
        padding: 10px;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        top: 10px;
        right: 10px;
        width: 35px;
        height:25px;
        border: 1px solid var(--onsecondary);
        -webkit-backdrop-filter: blur(100px) brightness(0.4);
        backdrop-filter: blur(100px) brightness(0.4);
        z-index: 100;
    }
    #mobile-menu-icon span{
        width: 100%;
        height: 3px;
        background-color: var(--onsecondary);
        border-radius: 3px;
    }
    nav{display: none;}
    #mobile-nav{
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        border: none;
        border-right: 1px solid var(--onsecondary);
        width: 40%;
        height: 100vh;
        border-radius: 0;
        left:-50%;
        top:0;
        transition: all .3s;
        z-index: 101;
    }
    #mobile-nav a{
        text-align: center;
    }
    #mobile-nav span{
        text-align: left;
        margin-left: 10px;
        padding-bottom: 30px;
    }

    /*LANDING PAGE*/
    .landing-page{
        grid-template-columns: 1fr;
        height: calc(80vh - 90px);
        width: 90%;
        margin: auto;
        margin-top: 120px;
    }
    .landing-page-info{text-align: center; }
    .landing-page-info button{display: none;}
    .landing-page-info h1{font-size: 2rem;}
    .landing-page-info p{font-size: 1rem;}

    /*MAINGRID*/
    .maingrid{
        grid-template-columns: 1fr 16fr;
        gap: 15px;
        margin-top: 20vh;
    }
    .linia{
        background-position: 9.5px 0%;
        width: 20px;
        margin-top: 4px;
    }
    .dot{
        height: 20px;
        width: 20px;
    }   
    .content{
        width: 100%;
        grid-template-columns: 1fr;
    }
    .content-container{
        display: flex;
        flex-direction: column;
        gap: 0;
        width: 70vw;
        height: 100vh;
        scroll-margin: 40px;
    }
    .title h1{
        font-size: 24px;
    }
    .title p{
        font-size: 16px;
    }
    .content-container-single{
        margin-top: 20px;
        height: 70vh;
        padding: 20px 0px;
        width: 85vw;
    }

    .content-slider{
        width: 100%;
    }
    .projekt{
        width: 100%;
    }
    .projekt h2{
        font-size: 24px;
    }
    .projekt-desc p{
        font-size: 18px;
    }
    .projekt-desc{
        justify-content: center;
        gap: 10px;
    }
    .projekt-desc button{
        width: 160px;
    }
    .projekt-container{
        margin: 0 auto;
        grid-template-columns: 1fr;
        width: 94%;
        place-items: center;
        gap: 0;
    }
    .projekt-photo{
        margin: 0 auto;
        width: 100%;
        padding: 0;
    }
    .projekt-container img{
        border: none;
        width: 100%;
        border-radius: 5px;
    }
    .content-buttons{
        width: 80%;
        margin: 0 auto;
    }
    .content-buttons button{
        content: "aa";
        width: 120px;
    }



    
    #szablony-content-container{
        padding: 0;
        height: 300px;
        padding-bottom: 40px;
    }
    .szablon{
        grid-template-columns: 1fr;
        width: 100%;
        padding: 0;
        place-content: start;
    }
    .szablon-button{display: none;}
    .szablon-img{
        border: none;
        width: 100%;
        display: grid;
        place-items: center;
    }
    .szablon-img img{
        margin-top: 20px;
        width: 100%;
        border-radius: 0px;
        border: none;
    }



    
    #container-kontakt{
        grid-template-columns: 1fr;
    }




    #content-omnie{
        grid-template-columns: 1fr;
    }
    #content-omnie p{
        font-size: 14px;
        padding: 5px;
    }
    #content-omnie div{

    }
    #content-omnie div img{
        height: 200px;
        width: 200px;
    }
    

    /*KONTAKT*/
    #kontakt{grid-template-columns: 1fr;gap:10px;}
    .kontakt-info{
        margin: 0 auto;
        border-right: none;
        height:100%;
        width:80%;
    }
    .kontakt-info-div{
        width: 100%;
    }
    .kontakt-info-div p{
        font-size: 14px;
        text-align: right;
    }
    .kontakt-info-div img{
        margin: auto 0;
        height:26px;
    }
    textarea{
        height: 60px;
    }
    
    #submit{height: 30px;}
    #container-kontakt form{
        width: 92%;
        margin: auto;
    }
    #container-kontakt h1{
        font-size: 20px;
    }
    
    /*O MNIE*/
    #o-mnie{
        height: auto;
        padding: 30px 3%;
        grid-template-columns: 1fr;
    }
    #o-mnie img{display: none;}
    #o-mnie p{font-size: 1rem;}

    /*FOOTER*/
    footer{
        margin-top: 80px;
    }
    .footer-buttons{
        width: 80%;
        margin-left: 10%;
    }
    /*EMAIL NOTIFICATION*/
    /*EMAIL SENT*/
    .email-sent-box{
        z-index: 101;
        position: fixed;
        top: 25vh;
        left: 5%;
        border: 1px solid var(--onsecondary);
        border-radius: 20px;
        background-color: var(--primary);
        opacity: 1;
        width: 90%;
        height: 50vh;
    }
    .email-sent-close{
        margin: 15px;
        font-size: 40px;
        text-align: right;
    }
    .email-sent-close button{
        width: 50px;
        height: 50px;
    }
    .email-sent-text{
        display: grid;
        text-align: center;
        margin: 20px;
    }
    .email-sent-text span{
        border: 1px solid var(--onsecondary);
        margin: auto;
        text-align: center;
        font-size: 50px;
        padding: 8px 20px;
        border-radius: 50px;
    }
    .email-sent-text h1{font-size: 28px;margin-top:40px}
    .email-sent-text p{font-size: 18px;margin-top: 0;}

}

/*#region ANIMATIONS*/
@keyframes preloader {
    0%{transform: rotate(0);}
    50%{border-radius:200px;box-shadow: 0px 0px 100px var(--onsecondary);}
    100%{transform: rotate(360deg);}
}
@keyframes lineStretch {
    50%{transform: scaleY(1.8) scaleX(1.6);box-shadow: 0px 0px 4px var(--onsecondary);}
}
@keyframes turn {
    0% { transform: rotate3d(1, 1, 1, 30deg); }
    100% { transform: rotate3d(1, 1, 1, 390deg); }
}
/*#endregion*/