@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body{
    margin: 0;
    background-color: azure;
    font-family: 'Open Sans';
}


header{
    width: 100%;
    height: 50px;
    background-color: darkturquoise;
}


/* KOD */
.code{
    display: block;
    font-family: 'Courier New', Courier, monospace;
    padding: 12px 20px;
    font-size: 16px;
}
.code-inline{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}
.tab{padding-left: 25px;}

.initial_button{
    font-family: 'Open Sans';
    font-size: 30px;
    padding: 10px 20px;
    margin: auto;
    background-color: rgb(108, 226, 226);
    border: none;
    border-radius: 5px;
    transition: all .1s;
    box-shadow: 2px 2px 4px 1px rgb(180, 180, 180);
}
.initial_button:hover{
    cursor: pointer;
    background-color: rgb(116, 235, 235);
}
.initial{
    position: absolute;
    height: 150px;
    width: 300px;
    top: calc(50vh - 75px);
    left: calc(50vw - 150px);
    padding: 10px;
    display: grid;
    place-content: center;
    gap: 30px;
}
.initial span{
    text-align: center;
    font-size: 24px;
}
.initial select{
    margin-left: 10px;
    height: 30px;
    font-size: 24px;
    width: 80px;
    text-align: center;
}



.questions{
    margin: 0 auto;
    max-width: 1000px;
    display: none;
}

.question{
    margin: 15px 0;
    padding: 10px 15px;
    background-color: rgb(177, 250, 252);
    border-radius: 10px;
    box-shadow: 2px 2px 4px 1px rgb(180, 180, 180);
    z-index: 100;
}

.question_id{
    margin: -6px;
    color: grey;
    font-size: 0.8em;
    text-align: right;
}
.question_text{
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.2em;
}
.answers{
    margin-left: 10px;
}
.answer_check{
    height: 16px;
    width: 16px;
}
.answer{
    font-size: 18px;
}
.explanation_button{
    margin-top: 15px;
    padding: 8px 15px;
    background-color: rgb(108, 226, 226);
    border: none;
    border-radius: 5px;
    transition: all .1s;
    font-family: 'Open Sans';
    display: none;
}
.explanation_button:hover{
    cursor: pointer;
    background-color: rgb(116, 235, 235);
}

.hide_explanation_button{
    margin-top: 15px;
    padding: 8px 15px;
    background-color: rgb(108, 226, 226);
    border: none;
    border-radius: 5px;
    transition: all .1s;
    font-family: 'Open Sans';
    display: none;
}
.hide_explanation_button:hover{
    cursor: pointer;
    background-color: rgb(116, 235, 235);
}

.question_explanation{
    display: none;
    background-color: rgb(108, 226, 226);
    padding: 10px 15px;
    border-radius: 10px;
    margin-top: -8px;
}


.check_test{
    max-width: 200px;
    margin: 40px auto;
    display: grid;
    display:none;
}
.check_button{
    font-family: 'Open Sans';
    font-size: 24px;
    padding: 10px 20px;
    margin: auto;
    background-color: rgb(108, 226, 226);
    border: none;
    border-radius: 5px;
    transition: all .1s;
    box-shadow: 2px 2px 4px 1px rgb(180, 180, 180);
}
.check_button:hover{
    cursor: pointer;
    background-color: rgb(116, 235, 235);
}



.results{
    max-width: 400px;
    margin: 10px auto;
    display: grid;
    font-size: 20px;
    text-align: center;
    display: none;
}
.results span{
    display: inline;
    font-size: 30px;
    letter-spacing: 2px;
}


@media (max-width: 600px) {
    .initial{
        height: 150px;
        width: 90vw;
        left: 5vw;
        padding: 0;
    }
    .initial span{
        font-size: 1rem;
    }
    .initial_button{
        font-size: 1rem;
    }
    .initial span select{
        font-size: 1rem;
        height: 24px;
        width: 60px;
    }



    .questions{
        width: 95vw;
        padding: 0;
        font-size: 0.8rem;
    }
    .answer_check{
        height: 1rem;
    }
    .questions .answer{
        font-size: 0.9rem;
    }

    .check_button{
        font-size: 1.5rem;
    }
    


}